// Footer SCSS Code

footer {
    box-sizing: border-box;
    width: 100vw;
    border-top: 1px solid lightgrey;
    background-color: white;

    .footer-main-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;

        #logo-container {
            font-family: fangsong;
            font-weight: lighter;
            font-size: 4rem;
            span {
                color: black;    
            }
        }

        .footer-heading-container {
            height: 200px;
            width: 500px;

            margin: 2rem;
            text-align: center;
            .author-container {
                a {
                    text-decoration: none;
                    h3 {
                        color: grey;    
                        &:hover {
                            transition: all 1s;
                            color:black;
                        }
                    }
                }
            }
        }
        div {
            margin-left: 2vw; 
            h3 {
                font-size: 1.1rem;
                font-weight: bolder;
            }
        }
        ul {
            list-style: none;
            li {
                height: 2.5rem;
                a {
                    font-size: 1rem;
                    text-decoration: none;
                    letter-spacing: .2px;
                    color: #615858;
                    font-weight: none;
                    &:hover {
                        transition: all 0.5s;
                        color: black;
                        font-weight: bolder;
                    }
                }
            }
        }

        .footer-links-container {
            height: 300px;
            width: 150px;
        }
    }
}

