body {
    font-family: Quicksand;
    font-weight: bold ;
    main {
        font-family: Quicksand;
        font-weight: bold;
        #chat-engine {
            margin: 2rem auto;
            height: 80%;
            width: 70%;
    
            border-radius: 0.8rem 0.8rem 0rem  0rem;
            border: 1px solid black;
    
            min-width: 600px;
            box-shadow: 2px 2px 5px 1px grey;
            #header {
                border-radius: 0.8rem 0.8rem 0rem 0rem;
                height: 10%;
    
                background-color: black;
                color: white;
    
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                span {
                    font-size: 1.3rem;
                    margin: 0px 2.5vw;
                }

                #curr-user {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    span {
                        margin: 1rem;
                    }

                    img{
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        align-self: center;
                    }
                }
            }
    
            #main {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-evenly;
                height: 90%;
                #chats-list {
                    width: 35%;
                    overflow-y: scroll;
                    background-color: lightgrey;
                    height: 100%;

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 1rem;
                        text-align: left;
                        li {
                            p {
                                margin: 1.5rem 0;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                justify-content: space-between;
                                img{
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                    box-shadow: 0px 1px 2px 1px black;
                                    vertical-align: middle;
                                }
                                a {
                                    color: #5a3939;
                                    text-decoration: none;
                                    font-size: 1rem;
                                    
                                    &:hover {
                                        transition: all 0.5s;
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
                
                #chat-box {
                    width: 65%;
                    background-color: whitesmoke;
                    
                    #chat-interface {
                        height: 80%;
                        overflow-y: scroll;
                        scroll-behavior: smooth; 
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: nowrap;
                            justify-content: flex-start;

                            li {
                                
                                display: block;
                                justify-self: flex-start;
                                align-items: center;
                                margin: 1% 3%;

                                .mssg-info-container {
                                    display: flex;
                                    justify-content: center;
                                    align-content: center;
                                    img{
                                        height: 25px;
                                        width: 25px;
                                        border-radius: 50%;
                                        margin: .5rem;
                                        box-shadow: 0px 1px 2px 1px black;
                                        vertical-align: middle;
                                    }    
    
                                    p {
                                        margin: 0;
                                        padding: 0.7rem 1rem;
                                        border-radius: 0.4rem;
                                        color: white;
                                        max-width: 80%;
                                    }       
                                }
                            }
                            
                            .user-message {
                                p {
                                    background-color: #118ab2;
                                }
                                align-self: flex-end;
                            }
                            .friend-message {
                                p {
                                    background-color: #e86363;
                                }
                                align-self: flex-start;
                            }
                        }
                    }
                        

                    #chat-form-container {
                        height: 20%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        textarea {
                            margin: 1%;
                            border: none;
                            background-color: silver;
                            border-radius: 0.4rem;
                            box-sizing: border-box;
                            
                            padding: .5rem;

                            font-family: Quicksand;
                            font-weight: bold;
                            font-size: 1.1rem;
                            color: black;

                            &:focus {
                                outline: none;
                            }
                        }

                        button {
                            border: none;
                            background-color: none;
                            font-size: 2rem;
                            color:slateblue;
                        
                            &:hover {
                                transition: all 0.5s;
                                color: rgb(196, 15, 75);
                            }
                        }
                    }
                }
            }
        }
    }
}
