body {
    font-family: Quicksand;
    font-weight: bold ;
    main {
        font-family: Quicksand;
        font-weight: bold;
        #chat-engine {
            margin: 2rem auto;
            height: 80%;
            width: 70%;
    
            border-radius: 0.8rem 0.8rem 0rem  0rem;
            border: 1px solid black;
    
            min-width: 600px;
            box-shadow: 2px 2px 5px 1px grey;
            #header {
                border-radius: 0.8rem 0.8rem 0rem 0rem;
                height: 10%;
    
                background-color: black;
                color: white;
    
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                span {
                    font-size: 1.3rem;
                    margin: 0px 30px;
                }
            }
    
            #main {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-evenly;
                height: 90%;
                #chats-list {
                    width: 35%;
                    overflow-y: scroll;
                    background-color: lightgrey;
                    height: 100%;
                }
                
                #chat-box {
                    width: 65%;
                    background-color: whitesmoke;
                    #chat-interface {
                        overflow-y: scroll; 
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: flex-end;
                        p {
                            padding: 10px;
                            border-radius: 0.4rem;
                            color: white;
                            display: block;
                            max-width: 80%;
                            margin: 1% 3%;
                        }
                        
                        .user-message {
                            background-color: #118ab2;
                            align-self: flex-end;
                        }
                        .friend-message {
                            background-color: #e86363;
                            align-self: flex-start;
                        }
                    }

                    #chat-form-container {
                        height: 20%;

                        form {
                            height: 100%;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            textarea {
                                margin: 1%;
                                border: none;
                                background-color: silver;
                                border-radius: 0.4rem;
                                box-sizing: border-box;
                                
                                padding: .5rem;

                                font-family: Quicksand;
                                font-weight: bold;
                                font-size: 1.1rem;
                                color: black;

                                &:focus {
                                    outline: none;
                                }
                            }

                            button {
                                border: none;
                                background-color: none;
                                font-size: 2rem;
                                color:slateblue;
                            
                                &:hover {
                                    transition: all 0.5s;
                                    color: rgb(196, 15, 75);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
