// Footer SCSS Code

footer {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid lightgrey;
    .footer-main-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        #logo-container {
            font-family: fangsong;
            font-weight: lighter;
            font-size: 2rem;
            span {
                color: black;    
            }
        }

        .footer-heading-container {
            margin: 4rem;
            text-align: center;
            .author-container {
                a {
                    text-decoration: none;
                    h3 {
                        color: grey;    
                        &:hover {
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
        div {
            margin-left: 2vw; 
            h3 {
                font-size: .8rem;
                font-weight: bolder;
            }
        }
        ul {
            list-style: none;
            li {
                height: 1.5rem;
                a {
                    font-size: 0.6rem;
                    text-decoration: none;
                    letter-spacing: .2px;
                    color: #615858;
                    font-weight: none;
                    &:hover {
                        transition: all 0.5s;
                        color: black;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}

