body {
    margin: 0;
    padding: 0px;

    font-family: Quicksand;
    font-weight: bold;
    text-align: center;

    main {
        height: 100vh;

        > section {
            box-sizing: border-box;

            display: inline-block;
            margin: auto;

        }
        
        #profile-view-container {
            width: 100%;
            padding: 4rem;
            
            #information-section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                .info {
                    height: 100px;
                    width: 300px;
                    padding-bottom: 2rem;

                    h2 {
                        color: black;
                    }
                    h3 {
                        color: grey;
                    }
                }

                border-bottom: 1px solid lightgrey;
            }
        }

        #post-profile-picture-container {
            width: 700px;
        }

        #profile-edit-container {
            width: 300px;
            padding: 1rem;

            input {
                display: block;

                margin : auto;
                margin-bottom: 1rem;
                padding: .5rem 1rem .5rem 1rem;

                font-weight: bold;
                text-align: left;
                font-size: 1.2rem;
                
            }

            #btn {
                color: white;
                background-color: dodgerblue;
                
                border-radius: 0.2rem;             
                border: none;
                padding: .5rem 0.7rem;
                &:hover {
                    transition: all 0.5s ease-in-out;
                    background-color: rgba(12, 117, 223, 0.884);
                    color: whitesmoke;
                }
            }
        }
    }
}