body {
    margin: 0;
    padding: 0px;

    font-family: Quicksand;
    font-weight: bold;
    text-align: center;

    main {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        > section {
            box-sizing: border-box;

            display: inline-block;
            margin: auto;

        }
        
        #profile-view-container {
            width: 100%;
            
            #information-section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                .info {
                    height: 100px;
                    width: 300px;
                    padding-bottom: 2rem;

                    h2 {
                        color: black;
                    }
                    h3 {
                        color: grey;
                    }
                }

                border-bottom: 1px solid lightgrey;
            }
        }

        #details-profile-picture-container {
            width: 70%;
            margin: 0;
            h2 {
                color: black;
            }
            h3 {
                color: grey;
            }

            #details, #profile {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                width: 100%;
            
                > div {
                        width: 300px;
                }
            }

            #profile {
                min-height: 300px;
                
                #profile-picture {
                    img {
                        height: 150px;
                        width: 150px;
                        border-radius: 50%;
                        border: 1px solid grey;
                        box-shadow: 0px 0px 6px 2px lightgrey;
                    }
                }

                #about {
                    height: 200px;
                    width: 400px;
                    h3 {
                        width: inherit;
                        text-align: left;
                        overflow-y: scroll;
                    }
                }
            }

        }

        #profile-edit-container {
            width: 300px;
            padding: 1rem;
            margin: 0;

            input ,textarea {
                display: block;

                margin : auto;
                margin-bottom: 1rem;
                padding: .5rem 1rem .5rem 1rem;

                font-weight: bold;
                text-align: left;
                font-size: 1.2rem;
                
            }

            #btn {
                color: white;
                background-color: dodgerblue;
                
                border-radius: 0.2rem;             
                border: none;
                padding: .5rem 0.7rem;
                &:hover {
                    transition: all 0.5s ease-in-out;
                    background-color: rgba(12, 117, 223, 0.884);
                    color: whitesmoke;
                }
            }
        }
    }
}