
<footer>
    <!-- Codeial / Footer -->
    <div class="footer-main-container">
        <div class="footer-heading-container">
            
            <div id="logo-container">
                <i class="fas fa-chevron-left" style="color: #81d4fa;"></i>
                <span>CODEIAL</span>
                <i class="fas fa-chevron-right" style="color: blue;"></i>
            </div>            
           
            <h3>
                &copy; Codeial. All Rights Reserved
            </h3>
            <div class="author-container">
                <a href="https://www.instagram.com/shubhhgupta3/" target="_black"><h3>Author @ Shubh Gupta</h3></a>
            </div>
        </div>
        <div class="footer-links-container">
            <nav>
                <ul>
                    <li>
                        <h4 style="color: black;">Navigation</h4>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <% if(locals.user) { %>
                        <li>
                            <a href="/users/profile">Profile</a>
                        </li>
                        <li>
                            <a href="/chat-engine/chats">Chat</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</footer>