<footer>
    <!-- Codeial / Footer -->
    <div class="footer-main-container">
        <div class="footer-heading-container">
            <h3>&copy; Codeial. All Rights Reserved</h3>
            <div class="author-container">
                <a href="https://www.instagram.com/shubhhgupta3/" target="_black"><h3>Author @ Shubh Gupta</h3></a>
            </div>
        </div>
        <div class="footer-links-container">
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/users/profile">Profile</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>