<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/chat_box.css">

<main>
    <div id="chat-engine">
        <div id= "header">
            <span>
                <i class="far fa-comment-alt"></i>
            </span>
            <span>Messages</span>
            <span style="margin: 0px 40%;">Chats</span>
        </div>
            <div id="main">
                <section id="chats-list">
                   
                </section>
                    
                <section id="chat-box">
                    <div id="chat-interface">
                        <p class="user-message">
                            User-Message
                        </p>
                    
                    
                        <p class="friend-message">
                            Friend-Message
                        </p>
                    </div>
                    
                    <div id="chat-form-container"> 
                        <form action="" method="POST">
                            <textarea  name="message" rows="3" cols="50" placeholder="Type your message here..." required > </textarea>
                            <button type="submit">
                                <i class="fas fa-arrow-circle-right"></i>
                            </button>
                        </form>
                    </div>
                </section>
            </div>
        
    </div>
    

</main>