<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/home_layout.css">

<main>

    <section id="navigation-search-container">

    </section>

    <section id="feed-post">
        <%if(locals.user) { %>
            <div id="form-container" class="sub-container">
                <form action="/posts/create" method="POST" id="post-form">
                    <div>
                        <textarea name="content" id="text-area" cols="20" rows="1" placeholder="What's in your mind?"></textarea>
                    </div>
                    <div>
                        <button type="submit">Post</button>
                    </div>
                </form>
            </div>
        <% } %>
    
        <div id ="post-display-container">
            <ul>
                <% for(post of post_list) {%>
                    <li id=post class="sub-container">    
                            <h4> <%= post.user.name %></h3>
                            <p> <%= post.content %> </p>
                    </li>
                <% } %>          
            </ul>
        </div>    
    </section>    

    <section id="friend-chat-container">

    </section>
</main>
                    