<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/reset_password.css">


    <main>
        <div id="description">
            <div id="logo-container">
                <i class="fas fa-chevron-left" style="color: #81d4fa;"></i>
                <span>CODEIAL</span>
                <i class="fas fa-chevron-right" style="color: blue;"></i>
            </div>            
            
            <h3>
                &copy; Codeial. All Rights Reserved
            </h3>
            <div class="author-container">
                <a href="https://www.instagram.com/shubhhgupta3/" target="_black"><h3>Author @ Shubh Gupta</h3></a>
            </div>
        </div>
        <div class = 'email-container'>
            <div class = 'heading-container'>
                <h2>Enter your email</h2>
            </div>
                <form action="/users/reset-password" method="POST">
                    <div class="input-container">
                        <input type="email" name="email" required placeholder="Your Email">
                    </div>
                    <div class="input-container btn">
                        <input type="submit" value = "Log In">
                    </div>
                </form>
            </div>
        </div>    
    </main>

    