<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/user_profile.css">
<h1> Codeial / <%= title %> </h1>

<main>
    <p><%= user.name%></p>
    <p><%= user.email %></p>
</main>


