.add-padding {
  padding: 2rem;
}

header {
  font-family: auto;
  height: 8vh;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: .2rem solid midnightblue;
  margin: auto;
  margin-top: 1vh;
  width: 98vw;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .application-heading-container h2 {
  font-family: inherit;
  font-style: italic;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
  margin-left: 5vw;
  text-shadow: 2px 2px 0px black;
}

header .horizontal-list {
  display: inline-block;
  padding: 0;
}

header .horizontal-list ul {
  list-style: none;
}

header .horizontal-list ul li {
  display: inline-block;
  margin-right: 1rem;
}

header .horizontal-list ul li a {
  text-decoration: none;
  color: white;
  font-size: .7rem;
}

header .horizontal-list ul li a:hover {
  transition: all 1s;
  color: red;
  font-size: .71rem;
}
