body {
  color: grey;
  font-family: Quicksand;
  font-weight: bold;
}

body main {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body main section {
  box-sizing: border-box;
  width: 26vw;
  display: inline-block;
  margin: 0.2vh 0.2vw;
  padding: 1rem;
  line-height: 1.5rem;
}

body main section .sub-container {
  font-size: .3rem;
  color: grey;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 2rem 0rem;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

body main #navigation-search-container {
  width: 20vw;
}

body main #feed-post {
  width: 57vw;
  min-width: 350px;
}

body main #feed-post #form-container {
  height: 10vh;
}

body main #feed-post #form-container #post-form, body main #feed-post #form-container #comment-form {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

body main #feed-post #form-container #post-form > div, body main #feed-post #form-container #comment-form > div {
  margin: 1rem;
  margin-left: 0;
}

body main #feed-post #form-container button {
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: none;
  padding: .5rem 0.7rem;
}

body main #feed-post #form-container button:hover {
  transition: all 0.5s ease-in-out;
  background-color: rgba(12, 117, 223, 0.884);
  color: whitesmoke;
}

body main #feed-post #form-container #text-area {
  border: 1px solid grey;
  padding: .5rem;
  font-size: 1.2rem;
}

body main #feed-post #comments-display-container {
  width: 100%;
}

body main #feed-post #comments-display-container #comment .comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body main #feed-post #comments-display-container #comment .comment-header .comment-options-dropdown {
  display: inline-block;
  position: relative;
}

body main #feed-post #comments-display-container #comment .comment-header .comment-options-dropdown:hover .comment-options-dropdown-content {
  display: block;
}

body main #feed-post #comments-display-container #comment .comment-header .comment-options-dropdown #dropdown-btn {
  display: block;
  margin-top: .6rem;
  cursor: pointer;
}

body main #feed-post #comments-display-container #comment .comment-header .comment-options-dropdown .comment-options-dropdown-content {
  display: none;
  position: absolute;
  width: 70px;
  z-index: 1;
  font-size: 1rem;
}

body main #feed-post #comments-display-container #comment .comment-header .comment-options-dropdown .comment-options-dropdown-content a {
  padding: 5px;
  text-decoration: none;
  color: black;
  background-color: white;
  display: block;
}

body main #feed-post #comments-display-container #comment .comment-header .comment-options-dropdown .comment-options-dropdown-content a:hover {
  background-color: whitesmoke;
}

body main #feed-post ul {
  list-style: none;
  padding: 0;
}

body main #feed-post ul li {
  text-align: left;
}

body main #feed-post ul li h4 {
  margin: 1rem 0.2rem;
  color: black;
  font-size: 1.2rem;
}

body main #feed-post ul li p {
  margin: 0.3rem;
  font-size: 1.1rem;
}

body main #feed-post .post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body main #feed-post .post-header .post-options-dropdown {
  display: inline-block;
  position: relative;
}

body main #feed-post .post-header .post-options-dropdown:hover .post-options-dropdown-content {
  display: block;
}

body main #feed-post .post-header .post-options-dropdown #dropdown-btn {
  display: block;
  margin-top: .6rem;
  cursor: pointer;
}

body main #feed-post .post-header .post-options-dropdown .post-options-dropdown-content {
  display: none;
  position: absolute;
  width: 70px;
  z-index: 1;
  font-size: 1rem;
}

body main #feed-post .post-header .post-options-dropdown .post-options-dropdown-content a {
  padding: 5px;
  text-decoration: none;
  color: black;
  background-color: white;
  display: block;
}

body main #feed-post .post-header .post-options-dropdown .post-options-dropdown-content a:hover {
  background-color: whitesmoke;
}

body main #friend-chat-container {
  width: 20vw;
  min-width: 250px;
}

body main #friend-chat-container .sub-container {
  margin: 0;
  font-size: 1.2rem;
  max-height: 50vh;
  overflow-y: scroll;
  border: none;
}

body main #friend-chat-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

body main #friend-chat-container ul li p {
  margin: 1.5rem 0;
}

body main #friend-chat-container ul li p a {
  color: grey;
  text-decoration: none;
}

body main #friend-chat-container ul li p a:hover {
  transition: all 0.5s;
  color: black;
}
