<!-- Knowing which provider and device is used by the majority of your email list
Make sure the max width of your email is 480px
Stick to a single-column design
Adjust image and font sizes -->

<!-- html --> 
<html>
    <head>
        <style type="text/css">
            body {
                display: flex;
                flex-direction: row;
                justify-content: center;
                color: black;
            }

            #container {
                width: 80%;
                min-width: 480px;
            }

            header{
                background-color: #0000ff;
                color: white;
                height: 50px;
                padding: 10px;
                box-sizing: border-box;
            }

            table {
                border: none !important;
                table-layout: none;
                width: 100%;
                border-collapse: none;
                border-spacing: 0px;
            }

            tr, td {
                min-height: 10px;
                width: 100%;
                background-color: whitesmoke;
                margin: 0;
            }

            h1 {
                margin: 0;
            }

            p, h3, a {
                margin-left: 20px;
                color: black;
            }

        </style>
    </head>
    <body>
        <div id="container">
            <header>
                <h1>Codeial</h1>
            </header>
            <main>
                <table>
                    <!-- Heading -->
                    <tr><td> 
                        <h3> Hey! <%= token.user.name%></h3>
                    </td></tr>

                    <!-- Message -->
                    <tr><td>
                        <p>You just requested for the password reset.</p> 
                    </td></tr>

                    <!-- Content -->
                    <tr><td>
                        <a href="http://localhost:8000/users/change-password/<%= token.accessToken %>">localhost:8000/users/change-password</a>
                        <p> to reset your password!</p>
                    </td></tr>

                    <!-- Footer -->
                    <tr><td>
                        <p>Thankyou!!!</p>
                    </td></tr>
                </table>
            </main>
        </div>
    </body>
</html>